<div id="<%= dom_id employee %>">
  <div>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </div>

  <div>
    <strong>Job title:</strong>
    <%= employee.job_title %>
  </div>

  <div>
    <strong>Country:</strong>
    <%= employee.country %>
  </div>

  <div>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= employee.email %>
  </div>

  <div>
    <strong>Date of joining:</strong>
    <%= employee.date_of_joining %>
  </div>

</div>
