<div id="<%= dom_id employee %>">
  <div>
    <p><strong>First Name:</strong> <%= employee.first_name %></p>
  </div>

  <div>
    <p><strong>Last Name:</strong> <%= employee.last_name %></p>
  </div>

  <div>
    <p><strong>Job Title:</strong> <%= employee.job_title %></p>
  </div>

  <div>
    <p><strong>Country:</strong> <%= employee.country %></p>
  </div>

  <div>
    <p><strong>Salary:</strong> <%= employee.salary %></p>
  </div>

  <div>
    <p><strong>Email:</strong> <%= employee.email %></p>
  </div>

  <div>
    <p><strong>Date of Joining:</strong> <%= employee.date_of_joining %></p>
  </div>
</div>
